<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key="nombre" value="Hector Mauricio Jimenez Leal"/>
<add key="plantel" value="Fac. Telematica"/>
<add key="_1Parcial" value="0"/>
<add key="_2Parcial" value="0"/>
<add key="_3Parcial" value="0"/>
</appSettings>
</configuration>