<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="nombre" value="Jorge Alejandro Figueroa Pérez"/>
    <add key="plantel" value="Facultad de Telemática"/>
    <add key="_1Parcial" value="0"/>
    <add key="_2Parcial" value="0"/>
    <add key="_3Parcial" value="0"/>
  </appSettings>
</configuration>